<h2>Show Cargo</h2>

<ul>

  <li>
    <strong>Tracking Id:</strong>
    <%= @cargo.tracking_id %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @cargo.status %>
  </li>

</ul>

<span><%= link "Edit", to: tracking_cargo_path(@conn, :edit, @cargo) %></span>
<span><%= link "Back", to: tracking_cargo_path(@conn, :index) %></span>
